$color : #333;
$primary-color:#d4af37;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body{
  background-color: $color;
}

.showcase{
  height: 100vh;
}

.main-showcase{
  //dzięki temu tło pozostaje lekko rozmyte a logo widoczne
  &:before{
    content: '';
    background: url('../assets/showcase.jpg') no-repeat center center/cover;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    //zindex pozwala usunąć rozmycie z ikonki
    z-index: -1;
  }

  .logo{  
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;

    .logo-img{
      width: 200px;
      height: 200px;
    }
  }
}